In [36]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_csv('Admission_Predict_Ver1.1.csv', sep = ',')
df.head(5)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Remove serial number as it is redundant (same as index).

In [42]:
df = df.drop(columns=['Serial No.'])
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

Description of columns shown below (from paper):
<img src = 'images/table-of-desc.png'>

In [43]:
df.corr(method='spearman')

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
GRE Score,1.000000,0.823853,0.643423,0.620688,0.514352,0.829251,0.578487,0.822201
TOEFL Score,0.823853,1.000000,0.645533,0.644715,0.523434,0.809485,0.474540,0.793634
University Rating,0.643423,0.645533,1.000000,0.729399,0.602319,0.703333,0.435351,0.703742
SOP,0.620688,0.644715,0.729399,1.000000,0.662653,0.717384,0.409088,0.702799
LOR,0.514352,0.523434,0.602319,0.662653,1.000000,0.639563,0.376166,0.643627
CGPA,0.829251,0.809485,0.703333,0.717384,0.639563,1.000000,0.509264,0.888786
Research,0.578487,0.474540,0.435351,0.409088,0.376166,0.509264,1.000000,0.565715
Chance of Admit,0.822201,0.793634,0.703742,0.702799,0.643627,0.888786,0.565715,1.000000

Values are slightly different from the original paper due to 100 additional rows in the newer dataset.
<img src = 'images/table-of-corr.png'>

Onto frequency next.